.jsx-compiler-root {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.jsx-compiler-root header {
    display: block;
    color: red;
    background-color: pink
}

.jsx-compiler-root .container {
    display: flex;
    
}

.jsx-compiler-root textarea {
    background-color: antiquewhite
}

.jsx-compiler-root pre {
    background-color: #f8f8f8;
    overflow: visible;
}

.jsx-compiler-root pre, textarea {
  width: 30%;
  font-family: monospace;
  font-size: 18px;
  
  padding: 10px;
  color: #222;
}

